name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Package NuGet
      run: dotnet pack --no-build --configuration Release

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nupkg
        path: Guppi.Console/nupkg/*.nupkg

  publish:
    runs-on: ubuntu-latest
    needs: build

    # only push nuget package for PRs merged to master
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: nupkg

      - name: Authenticate to GitHub Packages
        run: dotnet nuget add source --username rprouse --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/rprouse/index.json"

      - name: Publish NuGet to GitHub Packages
        run: dotnet nuget push "**/dotnet-guppi.*.nupkg" --source "github" --skip-duplicate --no-symbols
